<div class="row mb-5 d-flex flex-wrap justify-content-around @(isAdmin ? "d-none" : "d-block")">
    <div class="col-4 d-flex flex-column align-items-center">
        <h4>Top 1</h4>
         @if (topData is not null)
         {
            <div class="position-relative">
                <img src="./img/layouttop1.png" alt="Candidate Layout" />
                <img src="@topData.Image" alt="Candidate" class="position-absolute" />
                <div class="@(isOrganizer ? "d-none" : "d-block")">
                     @if (isLogin && topData is not null)
                    {
                        <button @onclick="() => Rating(topData.Id)" class="position-absolute" style="@(topData.isRated ? "background: rgba(250, 204, 20, 0.2);" : "") @(voteCount == maxVote && !topData.isRated ? "background: #E5E5E5; cursor: default;" : "")">
                            <span class="material-icons-outlined" style="@(topData.isRated ? "color: #FACC14" : "") @(voteCount == maxVote && !topData.isRated ? "background: #E5E5E5; cursor: default;" : "")">
                                thumb_up
                            </span>
                        </button>
                    }
                    else
                    {
                        <button @onclick="(() => ShowLoginRequire())" class="position-absolute">
                            <span class="material-icons-outlined">
                                thumb_up
                            </span>
                        </button>
                    }
                </div>         
            </div>
            <h6 class="mb-0"><a href="@Routes.DetailElection/@("id="+topData.Id.ToString())" >@topData.Name</a></h6>
            <p><span>@topData.Count</span> lượt bình chọn</p>
        }
    </div>
</div>
<div class="row d-flex flex-wrap justify-content-around @(isAdmin ? "mt-5" :"")">
    @foreach (var item in fakeDatas.Skip(1))
    {
        <div class="col-4 d-flex flex-column align-items-center @(isAdmin ? "my-3" :"")">
            <div class="d-flex mb-3 align-items-center @(isAdmin ? "d-none" : "d-block")" style="@(isOrganizer ? "margin-left: -150px;":"")">               
                @if (isLogin)
                {
                    <button @onclick="() => Rating(item.Id)" class="me-3 @(isOrganizer ? "d-none" : "d-block")" style="@(item.isRated ? "background: rgba(250, 204, 20, 0.2);":"") @(voteCount == maxVote && !item.isRated ? "background: #E5E5E5; cursor: default;":"")">
                        <span class="material-icons-outlined" style="@(item.isRated ? "color: #FACC14;":"") @(voteCount == maxVote && !item.isRated ? "color: #707070; cursor: default;":"")">
                            thumb_up
                        </span>
                    </button>
                }
                else
                {
                    <button @onclick="(() => ShowLoginRequire())" class="me-3 @(isOrganizer ? "d-none" : "d-block")">
                        <span class="material-icons-outlined">
                            thumb_up
                        </span>
                    </button>
                }               
                <div class="text-left">
                    <p class="mb-0">Thứ hạng <span>@item.Rank</span></p>
                    <p><span>@item.Count</span> lượt bình chọn</p>
                </div>
            </div>
            <div class="position-relative">
                <img src="./img/layout.png" alt="Candidate Layout" class="position-absolute" />
                <img src="@item.Image" alt="Candidate" />
            </div>
            <h6 class="mt-4 mb-5 text-center"><a href="@Routes.DetailElection/@("id="+item.Id.ToString())" >@item.Name</a></h6>
        </div>
    }

</div>
<div class="voting-btn d-flex justify-content-center mb-5 @(isOrganizer||isAdmin ? "d-none" : "d-block")">
    <button @onclick="Cancel" class="btn me-2">Hủy</button>
    <button @onclick="ShowVoteSuccess" class="btn">Xác nhận</button>
</div>

