@inject IJSRuntime JS;

@if (election is not null)
{
    <div class="mb-5">
        <h2 class="text-center mt-5 mb-4 @(isAdmin ? "d-none" : "d-block")">Bảng xếp hạng</h2>
        <a href="" class="btn btn-editPage @(isOrganizer ? "d-block" : "d-none")">Chỉnh sửa</a>
        <button @onclick="DisplayDetail" data-bs-toggle="collapse" data-bs-target="#detail" aria-expanded="false" class="d-flex align-items-center mx-auto px-4 py-4 mb-5" style="@(isDisplayDetail ? "background-color: #18A0FB" : "")">
            <div class="triangle-right" style="@(isDisplayDetail ? "transform: rotate(90deg);" : "")"></div>
            <span class="mx-4" style="@(isDisplayDetail ? "color: #fff" : "")">@election.Name</span>
            <div class="triangle-left" style="@(isDisplayDetail ? "transform: rotate(-90deg);" : "")"></div>
        </button>
        <div class="collapse" id="detail">
            <p class="mb-5">
                @election.Details
            </p>
            <div class="owl-carousel owl-theme description__carousel mb-5">
                @if (images is not null)
                {
                    @foreach (var item in images)
                    {
                        if (election.Id == item.ElectionId)
                        {
                          <img src="@item.Url" alt="RatingDetail" />
                        }
                     }
                 }
            </div>
            <div class="d-flex justify-content-center">
                <iframe class="w-100" height="728" src="@election.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
}

