@inject IJSRuntime JS;

<div class="mb-5">
    <h2 class="text-center mt-5 mb-4 @(isAdmin ? "d-none" : "d-block")">Bảng xếp hạng</h2>
    <a href="" class="btn btn-editPage @(isOrganizer ? "d-block" : "d-none")">Chỉnh sửa</a>
    <button @onclick="DisplayDetail" data-bs-toggle="collapse" data-bs-target="#detail" aria-expanded="false" class="d-flex align-items-center mx-auto px-4 py-4 mb-5" style="@(isDisplayDetail?"background-color: #18A0FB":"")">
        <div class="triangle-right" style="@(isDisplayDetail?"transform: rotate(90deg);":"")"></div>
        <span class="mx-4" style="@(isDisplayDetail?"color: #fff":"")">Cán bộ đoàn hội xuất sắc 2021</span>
        <div class="triangle-left" style="@(isDisplayDetail?"transform: rotate(-90deg);":"")"></div>
    </button>
    <div class="collapse" id="detail">
        <p class="mb-5">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
        <div class="owl-carousel owl-theme description__carousel mb-5">
            <img src="./img/meomeo.png" alt="RatingDetail" />
            <img src="./img/meomeo.png" alt="RatingDetail" />
            <img src="./img/meomeo.png" alt="RatingDetail" />
            <img src="./img/meomeo.png" alt="RatingDetail" />
            <img src="./img/meomeo.png" alt="RatingDetail" />
            <img src="./img/meomeo.png" alt="RatingDetail" />
        </div>
        <div class="d-flex justify-content-center">
            <iframe class="w-100" height="728" src="https://www.youtube.com/embed/ixdSsW5n2rI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

@code {
    public bool isOrganizer = false;
    public bool isAdmin = true;
    public bool isDisplayDetail = false;

    private void DisplayDetail()
    {
        isDisplayDetail = !isDisplayDetail;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("uehvote.DescriptionCarousel");
    }
}
