@attribute [Route(Routes.DetailElection + "/{CurrentId}")];
@if (Convert.ToInt32(CurrentId) != 0 && election != null)
{
    <section class="my-title">
        <div class="container">
            <h4>@organization</h4>
            <h2>@election.Name</h2>
            <button class="m-auto">
                <p>@totalVote <span>lượt bình chọn</span></p>
            </button>
        </div>
    </section>
    <section class="my-poster @(IsAct ? "d-block" : "d-none")">
        <img class="w-100" src="@election.Banner"/>
    </section>
    <section class="my-description">
        <div class="container">
            <h4>Mô tả đề cử</h4>
            <p>
                @election.Details
            </p>
        </div>
    </section>
    <section class="my-img container ">
        <h4 class="my-4">Hình ảnh đề cử</h4>
        <div class="owl-carousel owl-theme">
            @if (listActivityImages != null)
            {
                @foreach (var item in listActivityImages)
                {
                    if (election.Id == item.ElectionId)
                    {
                        <div class="item px-2">
                            <img class="w-100" src="@item.Url"/>
                        </div>
                    }
                }
            }
        </div>
    </section>
    <section class="my-video">
        <div class="container">
            <h4>Video về đề cử</h4>
            <iframe class="w-100" height="730" src="@election.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="text-end my-5">
                <a href="@Routes.RankPage" class="btn-rankPage btn">Xem bảng xếp hạng</a>
            </div>
        </div>
    </section>
}
