@page "/DeleteElection/{CurrentId}"
@using UEHVote.Models

<div class="container justify-content-center">
    @if (election != null)
    {
        <div class="row">
            <div class=" col-md-8">
                <div class="form-group">
                    <label>Election Id:</label>
                    <label>@election.Id</label>
                </div>
                <div class="form-group">
                    <label>Election Name:</label>
                    <label>@election.Name</label>
                </div>
                <div class="form-group">
                    <label>Start Date:</label>
                    <label>@election.StartDate</label>
                </div>
                <div class="form-group">
                    <label>Finish Date:</label>
                    <label>@election.FinishDate</label>
                </div>
                <div class="form-group">
                    <label>Banner: </label>
                    <br />
                    <img src="@election.Banner" />
                </div>
                <div class="form-group">
                    <label>Videos: </label>
                    <br />
                    <video controls autoplay loop>
                        <source src="@election.Video">
                    </video>
                </div>
                <div class="form-group">
                    <label>Details: </label>
                    <label src="@election.Details" />
                </div>
                <div class="form-group">
                    <label>IsForIndividuals</label>
                    <Checkbox @bind-Checked="@election.IsForIndividuals" @bind-Value="@election.IsForIndividuals">
                    </Checkbox>
                </div>
                <div class="form-group">
                    <label>IsAllowed</label>
                    <Checkbox @bind-Checked="@election.IsAllowed" @bind-Value="@election.IsAllowed">
                    </Checkbox>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@Cancel" value="Cancel">Cancel</button>
                    <button type="submit" class="btn btn-primary" @onclick="@Delete" value="Delete">Save change</button>
                </div>
            </div>
        </div>
    }
</div>


@code {
    Election election = new Election();
}
