<div class="pop-up">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="pop-up__container position-relative">
            <span @onclick="CloseModal" class="material-icons-outlined btn-close position-absolute">
                close
            </span>
            <div class="pop-up__content">
                <p class="title text-left">Thêm/ chỉnh sửa đề cử</p>
                <div class="row pop-up-form">
                    @if (candidate is not null)
                    {
                        <EditForm Model="@candidate">
                            <DataAnnotationsValidator />
                            <div class="pop-up-form-content">
                                <div class="form-group mb-4">
                                    <div class="mb-3">
                                        Đơn vị <span class="required-asterick">(*)</span>
                                    </div>
                                    <InputSelect @bind-Value="@candidate.OrganizationId" class="form-control">
                                        <option value="0">--- Chọn tổ chức ---</option>
                                        @if (organizations != null)
                                        {
                                            @foreach (var organization in organizations)
                                            {
                                                <option value="@organization.Id">@organization.Name</option>
                                            }
                                        }
                                    </InputSelect>
                                    <ValidationMessage For=@(() => candidate.OrganizationId) />
                                </div>
                                <div class="form-group mb-4">
                                    <div class="mb-3">
                                        Tên đề cử <span class="required-asterick">(*)</span>
                                    </div>
                                    <InputText @bind-Value="candidate.Name" class="form-control" placeholder="Nhập tên đề cử" />
                                    <ValidationMessage For=@(() => candidate.Name) />
                                </div>
                                <div class="form-group mb-4">
                                    <div class="mb-3">
                                        Nội dung <span class="required-asterick">(*)</span>
                                    </div>
                                    <TinyMCEEditor @bind-Value="candidate.Details" />
                                    <ValidationMessage For=@(() => candidate.Details) />
                                </div>
                                <div class="form-group mb-4">
                                    <div class="mb-3">
                                        Hình ảnh đề cử
                                    </div>
                                    <UEHVote.Shared.Components.PicturesWall imagesCandidate="@imagesCandidate" HandleImagesElection="HandleImagesCandidate" CurrentId="@(candidate.Id!=0?"id="+candidate.Id.ToString():"id=0")"/>
                                </div>

                                <div class="form-group mb-5">
                                    <div class="mb-3">
                                        Video đề cử
                                    </div>
                                    <InputText @bind-Value="candidate.Video" class="form-control" placeholder="Chèn link video" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mt-3 mb-5 me-3">
                                <button @onclick="CloseModal" class="btn btn-cancel me-3">Hủy</button>
                                <button @onclick="HandleCreateCandidate" class="btn btn-save">Lưu</button>
                            </div>
                        </EditForm>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


