@page "/AddCandidate"

<h3>AddCandidate</h3>

<div class="container">
    <EditForm method="post" Model="candidate">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="modal-body container">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <InputText id="name" class="form-control" @bind-Value="@candidate.Name" />
            </div>
            <div class="mb-3">
                <label for="details" class="control-label">Details</label>
                <TextArea Placeholder="details" class="form-control" @bind-Value="@candidate.Details" />
            </div>
            <div class="mb-3">
                <label form="video" class="control-label">Video</label>
                <InputText id="video" class="form-control" @bind-Value="@candidate.Video" />
            </div>
            <div class="mb-3">
                <label for="imagesList" class="form-label">Hình ảnh nổi bật</label>
                <InputFile name="imagesList" OnChange="OnInputFile" multiple type="file" class="form-control"></InputFile>
                <div class="d-flex align-items-center">
                    <span class="@(isChangeFile ? "d-none" : "d-block")">Hình ảnh</span>
                </div>
            </div>
            <div class="modal-footer container">
                <button type="submit" class="btn btn-primary" @onclick="@CreateCandidate" value="Save">Save change</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@Cancel" value="Cancel">Cancel</button>
            </div>
        </div>
    </EditForm>
</div>
